.question
  | How to change language?
.answer.
  Click on "language" in the upper right corner.
  The website is translated in French and Spanish.

.question
  | How to participate in a tournament?
.answer
  | You must be registered on 
  a(href="https://vchess.club") vchess.club
  | &nbsp;first. Then, sign in on the tournament website with your vchess
  | credentials. Finally, click on "Tournaments" in the upper left menu and
  | select a tournament in the section "Upcoming tournaments".
  | You will see a button "Join" on top, allowing to enter.
  | If the tournament's starting time is still far, your name appears in grey:
  | this means you will need to confirm your participation generally within
  | the last 60 minutes, by clicking "Confirm" on top of the players' list.
  br
  br
  | Note: in case of login error, delete cookies and reload the page.

.question
  | Which Elo rating should I indicate?
.answer.
  There is no ranking on vchess, but an estimation of your level is required
  to enter a tournament. Two cases: you already took part in several
  tournaments and have a fair idea of your level. Or, you dont:
  then use one of the predefined levels.

.question
  | I'd like to change my Elo rating.
.answer.
  Click on your name in the list, on the tournament page.
  Modifications are possible until the last minutes before the first round.

.question
  | I'd like to unsubscribe (before a tournament starts).
.answer.
  A right click on your line in the players' list before the first round
  allows to unsubscribe.
  Then it's too late, but you can always re-click on your line: if its
  background turns grey, you won't be paired.

.question
  | I'd like to be notified when the tournament starts.
.answer.
  Each new round (including the first) is announced by a browser notification,
  and by a sound alert.

.question
  | I missed the beginning of the tournament!
.answer.
  Just click on your line (which should be in grey) in the players' list,
  and you will be paired from next round.

.question
  | I'd like to quit the tournament, or to not play a round.
.answer.
  Click on your line in the players' list : it should turn grey.
  To re-enter the tournament later, just re-click on this line.

.question
  | How to know who my opponent is, and which color I get?
.answer.
  Your "table" is indicated in orange in the pairings, which are displayed and
  updated automatically in the "Tournament" tab.

.question
  | How to start the game against my opponent?
.answer.
  Click on the area "Player 1" or "Player 2" on the line of your table:
  it automatically send a challenge with the right parameters.
  Player 1 gets white, while player 2 has black. If the games are round-trip
  matches, you can play them in any order.

.question
  | What's the purpose of the "Give URL" button?
.answer.
  Once the game is launched, this allows to give its address so that everyone
  can easily access it - while it's being played.
  You can fix the link by re-clicking on the button.

.question
  | How to transmit the result?
.answer.
  Click on the area corresponding to the result on tour table's line, and then
  select the appropriate score. If your opponent didn't play, use the options
  on the second line (forfeits).
