.question
  | How to change language?
.answer.
  Click on "language" in the upper right corner.
  The website is translated in French and Spanish.

.question
  | How to participate in a tournament?
.answer.
  You must sign up on the website first: "Login" menu in the upper right,
  then "Register" in red on top. Fill at least the fields first & last name,
  and email. Then click on the link in the email received, and wait a bit until
  your account is validated.
  Finally, click on "Tournaments" in the upper left menu and select a
  tournament in the section "Upcoming tournaments".
  You will see a button "Join" on top, allowing to enter.
  If the tournament's starting time is still far, your name appears in grey:
  this means you will need to confirm your participation generally within
  the last 60 minutes, by clicking "Confirm" on top of the players' list.

.question
  | Why this account's validation step?
.answer.
  Because playing a tournament online against unknown players doesn't seem very
  appealing, the social interaction being already reduced to a minimum.
  The goal of this website is rather to organize friendlier meetings,
  by chatting also in audio or even video using Discord for example.

.question
  | Which nickname and Elo should I indicate?
.answer.
  The plateform where the tournament takes place is revealed when you click on
  the tournament name on top: give your name on that website. For now only
  lichess and vchess are supported, but others can be easily added.
  About lichess, if your rating is unknown add 250 to 350 points to your real
  FIDE rating. Otherwise just give your lichess Elo.
  Finally, there are predefined levels available if you donc play in
  competition and have no idea of your ranking.

.question
  | I'd like to change my registration informations.
.answer.
  Click on your name in the list, on the tournament page.
  Modifications are possible until the last minutes before the first round.
  You can also modify your personal informations (name, email, club) by
  clicking on your name in the upper right at any moment.

.question
  | I'd like to unsubscribe (before a tournament starts).
.answer.
  A right click on your line in the players' list before the first round
  allows to unsubscribe.
  Then it's too late, but you can always re-click on your line: if its
  background turns grey, you won't be paired.

.question
  | I'd like to be notified when the tournament starts.
.answer.
  Each new round (including the first) is announced by a browser notification,
  and by a sound alert.

.question
  | I missed the beginning of the tournament!
.answer.
  Just click on your line (which should be in grey) in the players' list,
  and you will be paired from next round.

.question
  | I'd like to quit the tournament, or to not play a round.
.answer.
  Click on your line in the players' list : it should turn grey.
  To re-enter the tournament later, just re-click on this line.

.question
  | How to know who my opponent is, and which color I get?
.answer.
  Your "table" is indicated in orange in the pairings, which are displayed and
  updated automatically in the "Tournament" tab.

.question
  | How to start the game against my opponent?
.answer.
  Click on the area "Player 1" or "Player 2" on the line of your table,
  and then once on the plateform adjust the parameters if needed before sending
  the challenge (manual on lichess, automatic on vchess).
  Player 1 gets white, while player 2 has black. If the games are round-trip
  matches, you can play them in any order.

.question
  | What's the purpose of the "Give URL" field?
.answer.
  Once the game is launched, this allows to give its address so that everyone
  can easily access it - even after the tournament (except for vchess).
  Ideally, you should indicate the URL of the game systematically after each
  round beginning. You can fix the link by re-clicking on the button.

.question
  | How to transmit the result?
.answer.
  Click on the area corresponding to the result on tour table's line, and then
  select the appropriate score. If your opponent didn't play, use the options
  on the second line (forfeits).
