.question
  | ¿Cómo cambiar el idioma?
.answer.
  Haga clic en "Idioma" en la esquina superior derecha.
  El sitio está traducido al inglés y al francés.

.question
  | ¿Cómo registrarse para un torneo?
.answer.
  Primero debe registrarse en el sitio: menú "Login" en la parte superior
  derecha, luego "Registrarse" en rojo en la parte superior. Rellene al menos
  los campos de primer nombre, apellido u email. Luego haga clic en el enlace
  en el correo electrónico recibido, luego espere mientras se valida su
  registro. Finalmente, haz clic en "Torneos" en el menú en la parte superior
  izquierda y luego selecciona un torneo en la pestaña "Próximos torneos".
  Verá un botón "Unirse" en la parte superior, que le permite registrarse.
  Si la hora de inicio del torneo es lo suficientemente larga, tu nombre
  aparece en gris: esto significa que tendrá que señalar en general
  en la hora anterior al torneo. El apuntado se realiza haciendo clic en
  el botón "Confirmar" en la parte superior de la lista de jugadores.

.question
  | ¿Por qué este paso de validación de registros?
.answer.
  Como no veo el sentido de un torneo en línea contra extraños,
  La interacción social ya está minimizada.
  El objetivo de este sitio es organizar reuniones más amigables,
  hablando también en audio o video a través de Discord, por ejemplo.

.question
  | ¿Qué apodo y Elo debo indicar?
.answer.
  Si haces clic en el título del torneo en la parte superior, verás la
  plataforma en el que se lleva a cabo: ingrese su nombre de usuario en esta
  plataforma. Por ahora solo se planean lichess.org y vchess.club, pero otros
  sitios se pueden agregar fácilmente.
  Con respecto a Elo, agregue alrededor de 250 a 350 puntos a su clasificación
  real si no tienes una cuenta de lichess. De lo contrario, indique el de su
  cuenta. Finalmente, si no tiene una clasificación real ni Elo en el sitio,
  puede utilice las opciones ofrecidas en "Clasificación desconocida".

.question
  | Me gustaría corregir mi información de registro.
.answer.
  Haz clic en tu nombre en la lista de la página del torneo.
  Los cambios son posibles hasta unos minutos antes de la primera ronda.
  También puedes modificar tu información personal (nombres, email, club)
  haciendo clic en su nombre en la parte superior derecha en cualquier momento.

.question
  | Me gustaría desinscribirme (antes del inicio del torneo).
.answer.
  Haga clic derecho en su línea en la lista de jugadores antes del lanzamiento
  de la primera ronda permite de desinscribirse.
  Entonces es demasiado tarde, pero siempre puedes hacer clic en tu
  línea: si está atenuado, no está emparejado.

.question
  | Me gustaría recibir una alerta cuando comience el torneo.
.answer.
  Cada nueva ronda (incluida la primera) es anunciada por
  una notificación en su navegador y una alerta audible.

.question
  | ¡Me perdí el inicio del torneo!
.answer.
  Haga clic en su nombre (que aparece en gris en principio) en
  la lista de jugadores, y serás emparejado de la siguiente ronda.

.question
  | Me gustaría abandonar el torneo o no jugar una ronda.
.answer.
  Haz clic en tu línea en la lista de jugadores: debería
  ahora se resaltará en gris. Para volver al torneo, simplemente vuelva a
  hacer clic en tu línea.

.question
  | ¿Cómo sé contra quién estoy jugando y con qué color?
.answer.
  Su "mesa" se indica en naranja en los pares, que aparecen
  y se actualizan automáticamente en la pestaña "Torneo".

.question
  | ¿Cómo comienzo el juego contra mi oponente?
.answer.
  Simplemente haga clic en el área "Jugador 1" o "Jugador 2" en la línea
  de su mesa, luego una vez en la plataforma del juego ajuste los parámetros
  si es necesario antes de lanzar el desafío (manual sobre lichess, automático
  en vchess).
  El jugador 1 tiene blanco, el jugador 2 tiene negro. Si los juegos se juegan
  en partidas de ida y vuelta puedes jugar las partidas en cualquier orden.

.question
  | ¿Para qué sirve el campo "Dar URL"?
.answer.
  Una vez que la partida ha comenzado, te permite dar su dirección para que
  ser fácilmente accesible para todos, también después del torneo
  (excepto para vchess).
  Idealmente, siempre debes ingresar la URL del juego al comienzo de cada
  ronda. Puede volver a hacer clic en el botón para corregir el enlace.

.question
  | ¿Cómo transmitir mi resultado?
.answer.
  Haga clic en el área correspondiente a la puntuación en la línea de su
  mesa, luego seleccione el puntaje apropiado. Si tu oponente no tiene
  jugado, use las opciones en la segunda línea (pierdes).
