.question
  | Comment changer la langue ?
.answer.
  Cliquez sur "Langue" dans le coin en haut à droite.
  Le site est traduit en anglais et espagnol.

.question
  | Comment s'inscrire à un tournoi ?
.answer
  | Il faut d'abord s'enregistrer sur 
  a(href="https://vchess.club") vchess.club
  | . Ensuite, loguez vous sur le site web des tournois avec vos identifiants
  | vchess. Enfin, cliquez sur "Tournois" dans le menu en haut à gauche puis
  | sélectionnez un tournoi dans l'onglet "Tournois à venir".
  | Vous verrez un bouton "Rejoindre" en haut, permettant de s'inscrire.
  | Si l'heure de début du tournoi est encore assez lointaine, votre nom
  | apparaît alors en grisé : cela signifie que vous devrez pointer en général
  | dans l'heure précédant le tournoi. Le pointage s'effectue en cliquant sur
  | le bouton "Pointer" en haut de la liste des joueurs.

.question
  | Quel classement Elo dois-je indiquer ?
.answer.
  Il n'y a pas de classement sur vchess, mais une estimation de votre niveau
  est requise pour s'inscrire à un tournoi. Deux cas:
  vous avez participé à plusieurs tournois et avez une idée assez précise de
  votre niveau. Ou, vous n'en avez pas :
  utilisez alors l'un des niveaux prédéfinis.

.question
  | Je voudrais corriger mon classement Elo.
.answer.
  Cliquez sur votre nom dans la liste, sur la page du tournoi.
  Les modifications sont possibles jusqu'à
  quelques minutes avant la première ronde.

.question
  | J'aimerais me désinscrire (avant le début du tournoi).
.answer.
  Un clic droit sur votre ligne dans la liste des joueurs avant le lancement
  de la première ronde permet de se désinscrire.
  Ensuite c'est trop tard, mais vous pouvez toujours re-cliquer sur votre
  ligne : si celle-ci est grisée, vous n'êtes pas apparié.

.question
  | J'aimerais être alerté quand le tournoi commence.
.answer.
  Chaque nouvelle ronde (y compris la première) est annoncée par
  une notification dans votre navigateur et par une alerte sonore.

.question
  | J'ai raté le début du tournoi !
.answer.
  Cliquez sur votre nom (apparaissant en principe en grisé) dans
  la liste des joueurs, et vous serez apparié à partir de la ronde suivante.

.question
  | J'aimerais abandonner le tournoi ou ne pas jouer une ronde.
.answer.
  Cliquez sur votre ligne dans la liste des joueurs : il devrait
  être maintenant surligné en gris. Pour revenir dans le tournoi re-cliquez
  simplement sur votre ligne.

.question
  | Comment savoir contre qui je joue, et avec quelle couleur ?
.answer.
  Votre "table" est indiquée en orange dans les appariements, qui s'affichent
  et se mettent à jour automatiquement dans l'onglet "Tournoi".

.question
  | Comment démarrer la partie contre mon adversaire ?
.answer.
  Cliquez sur la zone "Joueur 1" ou "Joueur 2" sur la ligne de
  votre table : cela envoie automatiquement un défi avec les bons paramètres.
  Joueur 1 a les blancs, joueur 2 a les noirs. Si les parties se déroulent en
  matchs aller-retour vous pouvez jouer les parties dans n'importe quel ordre.

.question
  | À quoi sert le bouton "Donner URL" ?
.answer.
  Une fois la partie lancée, cela permet de donner son adresse afin qu'elle
  soit facilement accessible par tous - pendant qu'elle se joue.
  Vous pouvez re-cliquer sur le bouton pour corriger le lien.

.question
  | Comment transmettre mon résultat ?
.answer.
  Cliquez sur la zone correspondant au score sur la ligne de votre
  table, puis sélectionnez le score approprié. Si votre adversaire n'a pas
  joué, utilisez les options de la seconde lignes (forfaits).
