.question
  | Comment changer la langue ?
.answer.
  Cliquez sur "Langue" dans le coin en haut à droite.
  Le site est traduit en anglais et espagnol.

.question
  | Comment s'inscrire à un tournoi ?
.answer.
  Il faut d'abord s'enregistrer sur le site : menu "Login" en haut à droite,
  puis "S'inscrire" en rouge en haut. Remplissez au moins les champs nom,
  prénom et email. Cliquez ensuite sur le lien dans l'email reçu, puis
  patientez le temps que votre inscription soit validée.
  Enfin, cliquez sur "Tournois" dans le menu en haut à gauche puis
  sélectionnez un tournoi dans l'onglet "Tournois à venir".
  Vous verrez un bouton "Rejoindre" en haut, permettant de s'inscrire.
  Si l'heure de début du tournoi est encore assez lointaine, votre nom
  apparaît alors en grisé : cela signifie que vous devrez pointer en général
  dans l'heure précédant le tournoi. Le pointage s'effectue en cliquant sur
  le bouton "Pointer" en haut de la liste des joueurs.

.question
  | Pourquoi cette étape de validation des inscriptions ?
.answer.
  Car je ne vois pas l'intérêt d'un tournoi en ligne contre des inconnus,
  l'interaction sociale étant déjà réduite au minimum.
  L'objectif de ce site est plutôt d'organiser des rencontres plus conviviales,
  en discutant aussi en audio voire vidéo via Discord par exemple.

.question
  | Quel pseudo et Elo dois-je indiquer ?
.answer.
  Si vous cliquez sur le titre du tournoi en haut, vous verrez la plateforme
  sur laquelle il s'y déroule : donnez votre pseudo sur cette plateforme.
  Pour l'instant seules lichess.org et vchess.club sont prévues, mais d'autres
  sites pourraient être ajoutés facilement.
  Concernant l'Elo, ajoutez environ 250 à 350 points à votre classement réel
  si vous n'avez pas de compte lichess. Sinon indiquez celui de votre compte.
  Enfin si vous n'avez ni classement réel ni Elo sur le site, vous pouvez
  utiliser les choix proposés dans "Classement inconnu".

.question
  | Je voudrais corriger mes informations d'inscription.
.answer.
  Cliquez sur votre nom dans la liste, sur la page du tournoi.
  Les modifications sont possibles jusqu'à quelques minutes avant la première
  ronde. Vous pouvez aussi modifier vos informations personnelles
  (noms, email, club) en cliquant sur votre nom en haut à droite à tout moment.

.question
  | J'aimerais me désinscrire (avant le début du tournoi).
.answer.
  Un clic droit sur votre ligne dans la liste des joueurs avant le lancement
  de la première ronde permet de se désinscrire.
  Ensuite c'est trop tard, mais vous pouvez toujours re-cliquer sur votre
  ligne : si celle-ci est grisée, vous n'êtes pas apparié.

.question
  | J'aimerais être alerté quand le tournoi commence.
.answer.
  Chaque nouvelle ronde (y compris la première) est annoncée par
  une notification dans votre navigateur et par une alerte sonore.

.question
  | J'ai raté le début du tournoi !
.answer.
  Cliquez sur votre nom (apparaissant en principe en grisé) dans
  la liste des joueurs, et vous serez apparié à partir de la ronde suivante.

.question
  | J'aimerais abandonner le tournoi ou ne pas jouer une ronde.
.answer.
  Cliquez sur votre ligne dans la liste des joueurs : il devrait
  être maintenant surligné en gris. Pour revenir dans le tournoi re-cliquez
  simplement sur votre ligne.

.question
  | Comment savoir contre qui je joue, et avec quelle couleur ?
.answer.
  Votre "table" est indiquée en orange dans les appariements, qui s'affichent
  et se mettent à jour automatiquement dans l'onglet "Tournoi".

.question
  | Comment démarrer la partie contre mon adversaire ?
.answer.
  Il suffit de cliquer sur la zone "Joueur 1" ou "Joueur 2" sur la ligne de
  votre table, puis une fois sur la plateforme de jeu ajustez les paramètres
  si nécessaire avant de lancer le défi (manuel sur lichess, automatique
  sur vchess).
  Joueur 1 a les blancs, joueur 2 a les noirs. Si les parties se déroulent en
  matchs aller-retour vous pouvez jouer les parties dans n'importe quel ordre.

.question
  | À quoi sert le champ "Donner URL" ?
.answer.
  Une fois la partie lancée, cela permet de donner son adresse afin qu'elle
  soit facilement accessible par tous - également après le tournoi
  (excepté pour vchess).
  Idéalement, vous devriez indiquer l'URL de la partie systématiquement
  au début de chaque ronde.
  Vous pouvez re-cliquer sur le bouton pour corriger le lien.

.question
  | Comment transmettre mon résultat ?
.answer.
  Cliquez sur la zone correspondant au score sur la ligne de votre
  table, puis sélectionnez le score approprié. Si votre adversaire n'a pas
  joué, utilisez les options de la seconde lignes (forfaits).
